<div class="container">
<div class="col-12 text-center card border-primary">
  <h1>Formualrio Básico</h1>
  <form class="text-left" [formGroup]="formReactive">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName4">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" id="inputName4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputApellid">Apellido</label>
        <input type="text" formControlName="apellido" class="form-control" id="inputApellido">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Dirección</label>
      <input type="text" class="form-control" formControlName="direccion" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Dirección 2</label>
      <input type="text" class="form-control" formControlName="direccion2" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" formControlName="email" class="form-control" id="inputEmail" placeholder="">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ciudad</label>
        <input type="text" formControlName="ciudad" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select id="inputState" formControlName="estado" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" formControlName="zip" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" formControlName="checkMe" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12 text-center mb-2">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
</div>
